{% extends '::base.html.twig' %} {% block content %}
<h1>Liste des types de danse</h1>
<hr>
<div class="table-responsive">
    <table class="table table-stripped table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Style de danse</th>
                <th>Référent potentiel</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            {% for typeDanse in typeDanses %}
            <tr>
                <td>
                    <a href="{{ path('app_admin_typeDanse_show', { 'id': typeDanse.id }) }}">
                            {{ typeDanse.id }}
                        </a>
                </td>
                <td>{{ typeDanse.nom }}</td>
                <td>{{ typeDanse.description }}</td>
                <td>{{ styleDanse.nom}}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('app_admin_typeDanse_show', { 'id': typeDanse.id }) }}" class="btn btn-xs btn-primary">
                                    Supprimer
                                </a>
                        </li>
                        <li>
                            <a href="{{ path('app_admin_typeDanse_edit', { 'id': typeDanse.id }) }}" class="btn btn-xs btn-warning">
                                    Modifier
                                </a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr>
<ul class="list-inline">
    <li>
        <a href="{{ path('app_admin_typeDanse_new') }}" class="btn btn-sm btn-success">
                Ajouter un type de danse
            </a>
    </li>
</ul>
{% endblock %}