{% extends 'AppBundle::base.html.twig' %}

{% block content %}
<link rel="stylesheet" href="{{ asset('bundles/app/css/slider.css') }}">
<div id="slider">
    <img src="{{ asset('bundles/app/img/ami-danse-1.jpg') }}" alt="ami-danse-1">
    <img src="{{ asset('bundles/app/img/ami-danse-2.jpg') }}" alt="ami-danse-2">
    <img src="{{ asset('bundles/app/img/ami-danse-3.jpg') }}" alt="ami-danse-3">
    <img src="{{ asset('bundles/app/img/ami-danse-4.jpg') }}" alt="ami-danse-4">
    <img src="{{ asset('bundles/app/img/ami-danse-5.jpg') }}" alt="ami-danse-5">
</div>	     
	<script src="{{ asset('bundles/app/js/slider.js') }}"></script>

{% endblock %}

