{% extends '::base.html.twig' %}

{% block content %}
    <div class="col-sm-11">
        <h1>Nos prochains cours</h1>
    </div>
    <div class="col-sm-1">
    {% if is_granted("ROLE_RESPONSABLE") %}
        {# Bouton d'ajout #}
        <a href="{{ path('app_cours_add') }}" class="btn btn-xs btn-success">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
    {% endif %}
    </div>
{% for lecours in cours %}
<div class="row cours">
    <div class="col-sm-11">

            <a href="{{ path('app_inscriptionCours_index', { 'id': lecours.id }) }}" class="btn btn-xs btn-danger">
				<b>{{lecours.typeDanse}}  {{lecours.niveau}}</b><br />
                {{lecours.dateCours|date('d-m-Y')}} - {{lecours.heureDebut|date('h:m')}}-{{lecours.heureFin|date('h:m')}} Salle {{lecours.salle}}
            </a>
    </div>
    <div class="col-sm-1">
        <p>
            {# Bouton d'ajout #}
            <a href="" class="btn btn-xs btn-warning">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            {# Bouton d'edition #}
            <a href="#" class="btn btn-xs btn-warning">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            {# Bouton de suppression #}
            <a href="{{path('app_cours_liste')}}" class="btn btn-xs btn-danger">
                <span class="glyphicon glyphicon-trash"></span>

            </a>
        </p>
    </div>
</div>

{% endfor %}
    {#<a href="{{ path('admin_index') }}" class="btn btn-default">Administration</a>#}
    {#<a href="{{ path('app_old_cours') }}" class="glyphicon glyphicon-comment">Donner votre avis</a>#}


{% endblock %}