<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>



{#{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register')}) }}#}



            {#{{ form_label(form.nom, 'nom') }}#}
            {#{{ form_errors(form.nom) }}#}
            {#{{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'nom'}}) }}<br>#}


{#{{ form_label(form.prenom, 'prénom') }}#}
            {#{{ form_errors(form.prenom) }}#}
            {#{{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'prenom'}}) }}<br>#}

{#{{ form_label(form.sex, 'sex') }}#}
            {#{{ form_errors(form.sex) }}#}
            {#{{ form_widget(form.sex, {'attr': {'class': 'form-control', 'placeholder': 'prenom'}}) }}<br>#}


{#<button type="submit" class="btn btn-default">{{ 'registration.submit'|trans }}</button>#}

{#{{ form_end(form) }}#}