{% extends '::base.html.twig' %}
{% block content %}
<h1>Agenda</h1>
<a class="btn btn-success" href="{{ path('app_agenda_add') }}" role="button">Nouvel évenement</a>
<div class="row">
    {% for event in events %}
        <div class="col-md-4 col-sm-6">
            <h2 class="event-name">{{event.nom}}</h2>
            {% if event.image %}
                <img style="width: 95%" src="{{ asset('uploads/events_img/' ~ event.image) }}"></img>
            {% endif %}
            <div>Du {{event.dateDebut|date('d/m/Y')}} au {{event.dateFin|date('d/m/Y')}}</div>
            <div>{{event.lieu}}</div>
            <p>{{event.description}}</p>
            <p>
                <a class="btn btn-primary" href="#" role="button">Détails</a>
                <a class="btn btn-warning" href="#" role="button">Modifier</a>
                <a class="btn btn-danger" href="{{ path('app_agenda_delete', {id: event.id}) }}" role="button">Supprimer</a>
            </p>
        </div>
    {% endfor %}
</div>
<a class="btn btn-success" href="{{ path('app_agenda_add') }}" role="button">Nouvel évenement</a>
{% endblock %}