{% extends 'AppBundle::layout.html.twig' %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>

    {% endif %}

    <div class="jumbotron vertical-center">
        <div class="container text-center">
    <form action="{{ path("fos_user_security_check") }}" method="post">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /><br/><br/>

        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" required="required" /><br/><br/>

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label><br/><br/>

        <input class="btn btn-success" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" /><br/><br/>
    </form>


    <p><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a></p>
            <p>ou</p>

            <p><a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}"><span
                   class="glyphicon glyphicon-user"></span>Créer un Compte</a></p>
    </div>
</div>
{% endblock fos_user_content %}
