{% extends 'AppBundle:Admin:base.html.twig' %} {% block content %}
<h1>Liste des types de danse</h1>
<hr>
<div class="table-responsive">
    <table class="table table-stripped table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            {% for typedanse in typedanses %}
            <tr>
                <td>
                    <a href="{{ path('App_admin_typedanse_show', { 'id': typedanse.id }) }}">
                            {{ typedanse.id }}
                        </a>
                </td>
                <td>{{ typedanse.nom }}</td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('App_admin_typedanse_show', { 'id': typedanse.id }) }}" class="btn btn-xs btn-primary">
                                    Supprimer
                                </a>
                        </li>
                        <li>
                            <a href="{{ path('App_admin_typedanse_edit', { 'id': typedanse.id }) }}" class="btn btn-xs btn-warning">
                                    Modifier
                                </a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr>
<ul class="list-inline">
    <li>
        <a href="{{ path('App_admin_typedanse_new') }}" class="btn btn-sm btn-success">
                Ajouter
            </a>
    </li>
</ul>
{% endblock %}