{#
<nav class="navbar navbar-inverse navbar-fixed-top" id="topnavbar"> #}
    <nav class="navbar navbar-default navbar-static-top" id="topnavbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{path('app_home') }}">Accueil</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Danses <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Danse Latine</a></li>
                            <li><a href="#">Danse Moderne</a></li>
                            <li><a href="#">Danse Urbaine</a></li>

                        </ul>
                    </li>
                    <li><a href="#">AGENDA</a></li>
                    <li><a href="">INSCRIPTION</a></li>
                    <li><a href="#">FORUM</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    {% if is_granted('ROLE_RESPONSABLE') %}
                    <li role="separator" class="divider"></li>
                    <li><a class="navbar-brand" href="{{ path('admin_index') }}">Administration</a></li>

                    {% else %}
                    <li><a class="navbar-brand" href="{{ path('fos_user_registration_register') }}"><span
                    class="glyphicon glyphicon-user"></span>Créer un Compte</a></li>
                    {% endif %}


                    <li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a class="navbar-brand" href="{{ path('fos_user_security_logout') }}"><span
                    class="glyphicon glyphicon-log-out"></span>
              {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
          </a></li>
                    <li><a class="navbar-brand" href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                    {% else %}
                    <li> <a class="navbar-brand" href="{{ path('fos_user_security_login') }}"><span
                        class="glyphicon glyphicon-log-in"></span>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}
              </a>
                    </li>


                    {% endif %} {#
                    <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>#}


                </ul>
            </div>
        </div>
    </nav>
