<div id="listeEvents">
    <h2>L'Agenda</h2>
    {% for event in events %}
    <div class="eventAccueil">
    {% if event.image is not empty %}
        <div class="imgEvent"><img style="width: 95%" src="{{ asset('uploads/events_img/' ~ event.image) }}" alt="{{event.image}}"></img></div>
    {% endif %}
        <div class="eventDetail">
            <div class="eventDate">Du {{event.dateDebut|date('d/m/Y')}} au {{event.dateFin|date('d/m/Y')}}</div>
            <div class="eventTitre"><b><a href="{{ path('app_agenda_index') }}">{{event.nom}}</a></b></div>
            <div class="eventTexte">{{ event.description|length > 50 ? event.description|slice(0, 50) ~ '...' : event.description  }}</div>
            <div class="eventSuite"><a href="{{ path('app_agenda_index') }}">lire la suite</a></div>
        </div>
        <br class="clearboth" />
    </div>
    {% endfor %}
</div>