{% extends '::base.html.twig' %} {% block content %}
<h1>Styles de danse</h1>
<hr>
<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ styleDanse.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ styleDanse.nom }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ styleDanse.description }}</td>
        </tr>
    </tbody>
</table>
<hr>
<ul class="list-inline">
    <li>
        <a href="{{ path('app_styleDanse_index') }}" class="btn btn-sm btn-default">
                Liste des Danses
            </a>
    </li>
    <li>
        <a href="{{ path('app_admin_styleDanse_edit', { 'id': styleDanse.id }) }}" class="btn btn-sm btn-warning">
                Modifier
            </a>
    </li>
    <li>
        {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer" class="btn btn-sm btn-danger"> {{ form_end(delete_form) }}
    </li>
</ul>