

{% extends '::base.html.twig' %} 

{% block content %}
    <h1>Inscription à un cours</h1>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="col-sm-12">
        <p>{{ 'Bonjour'}} {{ user.nom|capitalize }} {{ user.prenom|capitalize }}</p>
        <p>Veuillez confirmer votre inscription</p>
        <p>Le cours dans lequel vous voulez inscrire est :
        <br/><b>{{cours.typeDanse|capitalize}}  ({{cours.niveau}})</b>
        le {{cours.dateCours|date('d-m-Y')}} 
        de {{cours.heureDebut|date('h:m')}}
        à {{cours.heureFin|date('h:m')}} 
        - Salle {{cours.salle}}
        </p>
</div>
<div>
    {% if joinedLesson %}
            <a href="{{ path('app_inscriptionCours_delete', { 'id': cours.id }) }}" class="btn btn-sm btn-success">Se
                désinscrire</a>
        {% else %}
            <a href="{{ path('app_inscriptionCours_add', { 'id': cours.id }) }}" class="btn btn-sm btn-success">Inscription</a>
        {% endif %}
        <a href="{{ path('app_cours_liste') }}" class="btn btn-sm btn-warning">Annuler</a>
</div>
{% else %}
<div>
    <p>Veuillez vous connecter ou créer votre compte </p>
        <a class="navbar-brand" href="{{ path('fos_user_security_login') }}">
            <span class="glyphicon glyphicon-log-in"></span>
                {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
        </a>
    </p>
</div>
{% endif %}

{% endblock %}


