{% extends '::base.html.twig' %} 

{% block content %}
    <h1>Inscription à un cours</h1>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


        <p>{{ 'Bonjour' }} {{ user.nom }} {{ user.prenom }}</p>
          
        <div class="col-sm-11">
            <p> Le cours dans lequel vous voulez inscrire est : </p>

            <b>{{ cours.typeDanse }}  {{ cours.niveau }}</b>
            <br/> {{ cours.dateCours|date('d-m-Y') }} - {{ cours.heureDebut|date('h:m') }}
            -{{ cours.heureFin|date('h:m') }} Salle {{ cours.salle }}

        </div>

            {% if joinedLesson %}
            <p>Veuillez confirmer votre désinscription</p>
            <a href="{{ path('app_inscriptionCours_delete', { 'id': cours.id }) }}" class="btn btn-sm btn-default">Se désinscrire</a>
            {% else %}
            {% if cours.placesRestantes > 0 %}
            <p>Veuillez confirmer votre inscription</p>
            <a href="{{ path('app_inscriptionCours_add', { 'id': cours.id }) }}" class="btn btn-sm btn-default">Confirmer</a>
            {% else %}
            <p>Ce cours est déjà complet</p>
             <a href="{{ path('app_cours_liste') }}" class="btn btn-sm btn-danger">Complet</a>
             {% endif %}
            {% endif %}
        <a href="{{ path('app_cours_liste') }}" class="btn btn-sm btn-default">Annuler</a>

        {% else %}
            <p>Veuillez connecter ou créer votre compte </p>
            <li>
                <a class="navbar-brand" href="{{ path('fos_user_security_login') }}">
                    <span class="glyphicon glyphicon-log-in"></span>
                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                </a>
            </li>
        {% endif %}
        {% endblock %}
