{% extends '::base.html.twig' %} 

{% block content %}
    <h1>Inscription à un cours</h1>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


        <p class="nom_prenom">{{ 'Bonjour'}} {{ user.nom|capitalize }} {{ user.prenom|capitalize }}</p>
          
        <div class="alert alert-info" role="alert">
            <p> Le cours dans lequel vous voulez inscrire est : </p>

            <b>{{ cours.typeDanse }}  {{ cours.niveau }}</b>
            <br/> {{ cours.dateCours|date('d-m-Y') }} - {{ cours.heureDebut|date('h:m') }}
            -{{ cours.heureFin|date('h:m') }} Salle {{ cours.salle }}

        </div>
            {% if joinedLesson %}
            <div class="alert alert-warning" role="alert">
            <p>Veuillez confirmer votre désinscription</p>
            </div>
            <a href="{{ path('app_inscriptionCours_delete', { 'id': cours.id }) }}" class="btn btn-sm btn-primary">Se désinscrire</a>
            {% else %}
            {% if cours.placesRestantes > 0 %}
            <div class="alert alert-info" role="alert">
            <p>Veuillez confirmer votre inscription</p>
            </div>
            <a href="{{ path('app_inscriptionCours_add', { 'id': cours.id }) }}" class="btn btn-sm btn-success">Inscription</a>
            {% else %}
            <div class="alert alert-warning" role="alert">
            <p>Ce cours est déjà complet</p>
             </div>
             <a href="{{ path('app_cours_liste') }}" class="btn btn-sm btn-danger">Complet</a>
             {% endif %}
            {% endif %}
        <a href="{{ path('app_cours_liste') }}" class="btn btn-sm btn-danger">Annuler</a>

        {% else %}
            <p>Veuillez connecter ou créer votre compte </p>
                <a class="navbar-brand" href="{{ path('fos_user_security_login') }}">
                    <span class="glyphicon glyphicon-log-in"></span>
                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                </a>
        {% endif %}
        {% endblock %}
